@page "/counter"
@rendermode InteractiveServer
@inject CartService CartService

<PageTitle>Counter</PageTitle>

<h1 style="padding: 20px;">Menu</h1>

<select @bind="SelectedCategory" class="category-dropdown">
    <option>All</option>
    <option>Meal</option>
    <option>Dessert</option>
    <option>Drink</option>
</select>

<div class="image-container">
    @foreach (var item in GetFilteredProducts())
    {
        @ItemCard(item)
    }
</div>

@code {
    string SelectedCategory = "All";

    List<Product> Products = new List<Product>()
    {
        new Product { Name = "Chicken", Image = "images/Chicken.png", Quantity = 1, Category = "Meal" },
        new Product { Name = "Burger", Image = "images/burgir.jpeg", Quantity = 1, Category = "Meal" },
        new Product { Name = "Fries", Image = "images/fries.png", Quantity = 1, Category = "Meal" },
        new Product { Name = "Spaghetti", Image = "images/spaghetti.jpg", Quantity = 1, Category = "Meal" },
        new Product { Name = "Hotdog", Image = "images/hotdog.png", Quantity = 1, Category = "Meal" },
        new Product { Name = "Burger Steak", Image = "images/burger-steak.png", Quantity = 1, Category = "Meal" },

        new Product { Name = "Halo halo", Image = "images/icecream.png", Quantity = 1, Category = "Dessert" },
        new Product { Name = "Sundae", Image = "images/sundae.png", Quantity = 1, Category = "Dessert" },

        new Product { Name = "Coke", Image = "images/coke.jpg", Quantity = 1, Category = "Drink" },
        new Product { Name = "Sprite", Image = "images/sprite.png", Quantity = 1, Category = "Drink" }
    };

    List<Product> GetFilteredProducts()
    {
        if (SelectedCategory == "All")
            return Products;

        return Products.Where(p => p.Category == SelectedCategory).ToList();
    }

    void AddToCart(Product item)
    {
        CartService.AddToCart(item.Name, item.Quantity, item.Image);
        item.Quantity = 1;
    }

    void Increase(Product p) => p.Quantity++;

    void Decrease(Product p)
    {
        if (p.Quantity > 1)
            p.Quantity--;
    }

    RenderFragment ItemCard(Product item) => __builder =>
    {
        <div class="item-card">
            <img src="@item.Image" alt="@item.Name" />
            <div class="item-info">
                <h3>@item.Name</h3>

                <div class="qty-control">
                    <button @onclick="() => Decrease(item)">-</button>
                    <span>@item.Quantity</span>
                    <button @onclick="() => Increase(item)">+</button>
                </div>

                <button class="add-btn" @onclick="() => AddToCart(item)">ADD</button>
            </div>
        </div>;
    };

    public class Product
    {
        public string Name;
        public string Image;
        public int Quantity;
        public string Category;
    }
}
